# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Publish output
publish/
out/

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# node / ClientApp
ClientApp/node_modules/
ClientApp/dist/
ClientApp/build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment files
*.env
*.env.*.local

# Other
*.db
*.db-shm
*.db-wal
*.sqlite
